<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Osca Movie Online</title>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- Bootstrap CSS -->


	<link href="https://cdn.datatables.net/autofill/2.5.1/css/autoFill.dataTables.min.css" rel="stylesheet"
		type="text/css" />
	<link href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css" rel="stylesheet"
		type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.6.3.min.js"
		integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/autofill/2.5.1/js/dataTables.autoFill.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
</head>


<body>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Osca Movie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Movie Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Movie
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/">List all movie</a></li>
                        <li><a class="dropdown-item" href="/searchmovie">Search movie by Genre</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" href="/addmovie" id="addNewMovie">Add new movie</a></li>
                    </ul>
                </li>

                <!-- Maintenance Menu -->
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown" id="maintenanceDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMaintenanceLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Maintenance
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMaintenanceLink">
                        <li><a class="dropdown-item" href="#">Genre maintenance</a></li>
                        <li><a class="dropdown-item" href="#">User maintenance</a></li>
                    </ul>
                </li>
            </ul>

            
        </div>
        <!-- Sign Out -->
            <form class="d-flex" name="logoutForm" th:action="@{/logout}" method="post">
                <a style="color: white; text-decoration: none;" href="javascript: document.logoutForm.submit()" class="nav-link">Sign out</a>
            </form>
    </div>
</nav>

	<br><br>
	<div class="container mt-5"> <!-- Adjust margin or padding as needed -->
    <div class="row mb-3">
        <div class="col">
            <h3 class="text text-success"><label for="search_genre" class="form-label">Search Movie by Genre:</label></h3>
            <select class="form-select" id="search_genre">
                <option value="">Select Genre</option>
                <!-- Genre options will be populated here dynamically -->
            </select>
        </div>
    </div>
    <!-- Existing content -->
</div>
	
	<div class="container">
		<div class="container">
			<div class="auto">
				<div class="card">
					<div sec:authorize="hasRole('ROLE_ADMIN')" class="card-body">
						<h3 class="text-center text-success">List of Movie</h3>
						<table id="movieTable" class="table table-striped">
							<thead>
								<tr>
									<!-- <th>ID</th> -->
									<th>Movie ID</th>
									<th>Movie Name</th>
									<th>Movie Description</th>
									<th>Movie Cast</th>
									<th>Genre</th>
									<th>Genre Description</th>
									<th>Edit</th>
									<th>Delete</th>
									<th>GenreId</th>
								</tr>
							</thead>
						</table>
					</div>

					<div sec:authorize="hasRole('ROLE_USER')" class="card-body">
						<h3 class="text-center text-success">List of Movie</h3>
						<table id="movieTableReadOnly" class="table table-striped">
							<thead>
								<tr>
									<!-- <th>ID</th> -->
									<th>Movie ID</th>
									<th>Movie Name</th>
									<th>Movie Description</th>
									<th>Movie Cast</th>
									<th>Genre</th>
									<th>Genre Description</th>
									<th>GenreId</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- modal for edit -->
		<!-- Button trigger modal -->
		<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
		data-bs-target="#exampleModal">Launch demo modal</button> -->

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Edit Movie
							Details</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">


						<form id="frmMovieEdit" name="frmMovieEdit">
							<div class="mb-3">
								<input type="hidden" class="form-control" id="id_edit" aria-describedby="emailHelp"
									name="id" required="required" readonly="readonly">

								<label for="exampleInputEmail1" class="form-label">Movie Name </label>
								<input type="text" class="form-control" id="name_edit" aria-describedby="emailHelp"
									name="name" required="required">

							</div>
							<div class="mb-3">
								<input type="hidden" class="form-control" id="id_edit" aria-describedby="emailHelp"
									name="id" required="required" readonly="readonly">

								<label for="exampleInputEmail1" class="form-label">Movie Description</label>
								<input type="text" class="form-control" id="movie_description_edit"
									aria-describedby="emailHelp" name="movieDescription" required="required">

							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Cast</label>
								<input type="text" class="form-control" aria-describedby="emailHelp" id="cast_edit"
									name="cast" required="required">

							</div>
							<div class="mb-3">
								<label for="genre_edit" class="form-label">Genre</label>
								<select class="form-control" id="genre_edit" name="genre">
									<!-- Options will be added here dynamically -->
								</select>
								<input type="hidden" class="form-control" id="genreId" name="genreId">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Genre Description</label> <input
									type="text" class="form-control" aria-describedby="emailHelp" id="description_edit"
									name="description" required="required" readonly>

							</div>
							<button type="button" class="btn btn-primary" id="update">Update</button>
							<!-- <button type="button" class="btn btn-primary" id="" onclick="">Add</button> -->
						</form>




					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

					</div>

				</div>
			</div>
		</div>
		<!-- modal for edit -->
	</div>


	<script>
		$(document).ready(function () {
			console.log("i am ready");
			populateGenresForSearchBar();

		});

		$('#search_genre').change(function () {
			var selectedGenreId = $(this).val();
			if (selectedGenreId) {
				getAllMoviesByGenre(selectedGenreId); // Fetch and display movies by selected genre
			} else {
				getAllMovie(); // No genre selected, fetch and display all movies
			}
		});

		function getAllMoviesByGenre(genreId) {
			// Modify this URL to point to your API endpoint for fetching movies by genre
			var url = "http://localhost:8081/movies/genre/" + genreId;
			$('#movieTable').dataTable().fnDestroy();
			$('#movieTableReadOnly').dataTable().fnDestroy();
			$.ajax({
				type: "GET",
				url: url,
				dataType: "json",
				success: function (data) {
					// Reinitialize the table with the new data
					$('#movieTable').dataTable({
						data: data,
						columns: [

							{
								data: 'id'
							}, {
								data: 'name'
							}, {
								data: 'movieDescription'
							}, {
								data: 'cast'
							}, {
								data: 'genre'
							}, {
								data: 'description'
							},
							{
								data: null,
								render: function (data, type, full, meta) {
									return '<button class="btn btn-success btnEdit" id="btnEdit"  value="' + data.id + '" >Edit</button>';


								}
							},
							{
								data: null,
								render: function (data, type, full, meta) {
									return '<button class="btn btn-danger btnEdit" id="btnDelete"  value="' + data.id + '" >Delete</button>';


								}
							}, {
								data: 'genreId',
								visible: false
							}]
					});
					
					$('#movieTableReadOnly').dataTable({
						data: data,
						columns: [

							{
								data: 'id'
							}, {
								data: 'name'
							}, {
								data: 'movieDescription'
							}, {
								data: 'cast'
							}, {
								data: 'genre'
							}, {
								data: 'description'
							}, {
								data: 'genreId',
								visible: false
							}]
					});
				}
			});
		}

		function populateGenres() {
			$.ajax({
				type: "GET",
				url: "http://localhost:8080/genre/", // Update this URL to your actual genre API endpoint
				success: function (data) {
					var genreSelect = $('#genre_edit');
					genreSelect.empty(); // Remove any existing options

					data.forEach(function (genre) {
						genreSelect.append($('<option></option>').attr('value', genre.id).text(genre.name));
					});
					// Update genre description when a new genre is selected
					$('#genre_edit').change(function () {
						var selectedGenreId = $(this).val();
						var selectedGenre = data.find(genre => genre.id.toString() === selectedGenreId);
						if (selectedGenre) {
							$('#description_edit').val(selectedGenre.description || '');
						} else {
							$('#description_edit').val(''); // Clear description if no genre is found
						}
					});
				},
				error: function (request, status, error) {
					console.log("Error fetching genres:", status, error);
				}
			});
		}


		// Function to update the genre description based on the selected genre
		function updateGenreDescription(selectedGenreId) {
			var selectedGenre = genresData.find(function (genre) {
				return genre.id.toString() === selectedGenreId;
			});
			if (selectedGenre) {
				$('#description_edit').val(selectedGenre.description); // Update the description field
			} else {
				$('#description_edit').val(''); // Clear the description field if no genre is selected
			}
		}



		// Populate genres when the modal is about to be shown
		$('#exampleModal').on('show.bs.modal', function (e) {
			populateGenres();
		});

		function populateGenresForSearchBar() {
			$.ajax({
				type: "GET",
				url: "http://localhost:8080/genre/", // Update this URL to your actual genre API endpoint
				success: function (data) {
					// Assume the dropdown for editing movies is already being populated here
					// Now, also populate the search dropdown
					var searchGenreSelect = $('#search_genre');
					searchGenreSelect.empty(); // Remove any existing options

					// Add a default option
					searchGenreSelect.append($('<option></option>').attr('value', '').text('Select Genre'));

					// Populate the dropdown with genres from the API
					data.forEach(function (genre) {
						searchGenreSelect.append($('<option></option>').attr('value', genre.id).text(genre.name));
					});
				},
				error: function (request, status, error) {
					console.log("Error fetching genres:", status, error);
				}
			});
		}
		

		getAllMovie();
		getAllMovieReadOnly();

		/* get all Movie List */
		function getAllMovie() {
			$('#movieTable').dataTable().fnDestroy();
			$.ajax({
				type: "GET",
				url: "http://localhost:8081/movies",
				dataType: "json",
				success: function (data) {
					//console.log("data return :" + data);

					$('#movieTable').dataTable({
						data: data,
						columns: [

							{
								data: 'id'
							}, {
								data: 'name'
							}, {
								data: 'movieDescription'
							}, {
								data: 'cast'
							}, {
								data: 'genre'
							}, {
								data: 'description'
							},
							{
								data: null,
								render: function (data, type, full, meta) {
									return '<button class="btn btn-success btnEdit" id="btnEdit"  value="' + data.id + '" >Edit</button>';


								}
							},
							{
								data: null,
								render: function (data, type, full, meta) {
									return '<button class="btn btn-danger btnEdit" id="btnDelete"  value="' + data.id + '" >Delete</button>';


								}
							}, {
								data: 'genreId',
								visible: false
							}]
					});
				}
			});
		}

		/* End of get all Movie List */

		/* get all Movie List */
		function getAllMovieReadOnly() {
			$('#movieTableReadOnly').dataTable().fnDestroy();
			$.ajax({
				type: "GET",
				url: "http://localhost:8081/movies",
				dataType: "json",
				success: function (data) {

					$('#movieTableReadOnly').dataTable({
						data: data,
						columns: [

							{
								data: 'id'
							}, {
								data: 'name'
							}, {
								data: 'movieDescription'
							}, {
								data: 'cast'
							}, {
								data: 'genre'
							}, {
								data: 'description'
							}, {
								data: 'genreId',
								visible: false
							}]
					});
				}
			});
		}

		/* End of get all Movie List */

		/* Edit Form value */


		$(document).on('click', '#btnEdit', function (e) {
			console.log("Test");
			e.preventDefault();

			var id = $(this).val();
			console.log(id);
			$('#exampleModal').modal('show');

			$.ajax({
				type: "GET",
				url: "http://localhost:8081/movie/" + id,

				dataType: "JSON",
				//data : data,

				success: function (data) {
					console.log(data.movieDescription);
					$('#id_edit').val(data.id);
					$('#name_edit').val(data.name);
					$('#movie_description_edit').val(data.movieDescription);
					$('#cast_edit').val(data.cast);
					$('#genre_edit').val(data.genre);
					$('#genreId').val(data.genreId);
					$('#description_edit').val(data.description);
					console.log(data);
				}

			});


		});
		/* End of Edit Form value */


		/* update */
		$(document).on('click', '#update', function (e) {
			e.preventDefault();
			var id = $('#id_edit').val();
			//console.log(id);
			var data =
			{
				"name": $('#name_edit').val(),
				"movieDescription": $('#movie_description_edit').val(),
				"cast": $('#cast_edit').val(),
				"genre": $('#genre_edit').val(),
				"genreId": $('#genreId').val(),
				"description": $('#description_edit').val()
			}

			console.log(data);

			$.ajax({
				type: "PUT",
				url: "http://localhost:8081/movies/" + id,
				contentType: "application/json",
				data: JSON.stringify(data),
				dataType: "JSON",
				success: function (response) {
					console.log(response);
					$('#exampleModal').modal('hide');
					getAllMovie();
				}

			});


		});
		/* update */


		/* delete student */
		$(document).on('click', '#btnDelete', function (e) {
			e.preventDefault();

			var id = $(this).val();

			$.ajax({
				type: "DELETE",
				url: "http://localhost:8081/movies/" + id,

				success: function (response) {
					getAllMovie();
					console.log("done");

				}

			});

		});
		/* delete student */



	</script>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</body>

</html>